# fitcontrol-backend/.gitignore
node_modules/
dist/
build/
*.log

.env
.env.* 
!.env.example
firebase-debug.log

# 🔥 IMPORTANTES
serviceAccount*.json
firebase-key.json
src/config/firebase-key.json

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
